.resource_section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 3rem 1rem
}

.resource_card {
   flex: 30%;
   margin: 10px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 250px;
   background-color: white;
   border-radius: 20px;
   color: #0D0D0D;
}

.card_header {
    border-bottom: 1.5px solid #0A8CBF;
    min-height: 100px;
}

.card_header  h3 a {
    color: #0D0D0D;
    text-transform: uppercase;
    font-size: 16px;
}

.resource_card  h3 a:hover {
    color: #0A8CBF;
    text-decoration: none;
}

.tags {
    background-color: #04B2D9;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
}

/* Spinner while waiting to load */
.loadMore {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.loading {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}

.spinner {
    border: 4px solid #0F5FA6;
    border-top: 4px solid ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
